# core
setuptools==69.5.1
setuptools-scm==8.0.4
wheel
pip>=24.0

# required packages
streamlit==1.35.0
numpy==1.24.4
pillow==9.5.0
opencv-python-headless==4.7.0.72
ultralytics==8.0.20
paddleocr==2.6.1.3
paddlepaddle==2.5.2
